<div class="map">
<h1 class="mapTitle">Click on the "view larger map" for directions!</h1>
<iframe width="500" height="500" frameborder="20" style="border:20"src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA3SG6gUxxKwwKkYV6Pagm9zV06sEs7Xuw&q=<%=@location.address%>" allowfullscreen></iframe>
</div>
